In [3]:
import pandas as pd
import numpy as np
Location = "C:/Users/RajKumar/Documents/datasets/gradedata.csv"
df = pd.read_csv(Location)
df.head()
df1 = df.take(np.random.permutation(len(df))[:500])
df1

,fname,lname,gender,age,exercise,hours,grade,address
902,Steven,Graham,male,19,4,17,95.1,"90 Grove St., Camas, WA 98607"
186,Gay,Wagner,female,17,4,7,75.0,"7368 Sugar Ave., Flint, MI 48504"
441,Miranda,Donovan,female,16,2,4,63.7,"464 Princeton Drive, Jupiter, FL 33458"
1698,Oscar,Walters,male,19,3,9,79.2,"330 Orchard Rd., Collegeville, PA 19426"
1154,Hayes,Ware,male,16,1,17,84.9,"4 Edgewater Dr., Minneapolis, MN 55406"
1355,Gannon,Coffey,male,15,5,14,99.6,"8534 East Wild Rose Road, Teaneck, NJ 07666"
1089,Laurel,Bowman,female,19,5,10,91.0,"7133 South Drive, Lawndale, CA 90260"
674,Tyrone,Stephenson,male,18,5,17,91.4,"617 Newcastle St., Cockeysville, MD 21030"
660,Tanya,Coleman,female,19,3,10,74.6,"631 S. Arch St., Syosset, NY 11791"
1543,Angela,Macias,female,15,1,5,66.0,"53 James Street, Matthews, NC 28104"
205,Ginger,Stevens,female,18,1,14,84.6,"959 Cardinal Court, Egg Harbor Township, NJ 08234"
1793,Lev,Brown,male,17,2,10,71.8,"43 NW. Winchester Street, Port Jefferson Stati..."
355,Kadeem,Marshall,male,17,5,18,100.0,"56 North Glen Creek St., San Lorenzo, CA 94580"
1935,Jada,Spence,female,15,5,7,74.6,"7929 Wood Court, Johnson City, TN 37601"
1163,Rudyard,Banks,male,19,2,9,75.4,"9481 North East Avenue, Greer, SC 29650"
735,Lydia,Ruiz,female,18,1,13,87.3,"476 8th St., Chicago, IL 60621"
851,Kasper,Melendez,male,19,4,9,73.8,"9004 Proctor St., Yuma, AZ 85365"
1565,Clementine,Rogers,female,14,5,9,90.3,"47 Golden Star Dr., West Springfield, MA 01089"
1003,Basil,Gilbert,male,14,4,10,78.1,"757 Jockey Hollow Drive, Pelham, AL 35124"
936,Hiram,Valentine,male,18,3,17,93.1,"1 West Sage Road, Buford, GA 30518"
1928,Jarrod,Strong,male,14,3,11,76.1,"193 Riverside Street, Fort Mill, SC 29708"
1779,Aspen,Ayers,female,14,2,14,96.8,"8218 Yukon Ave., Hazleton, PA 18201"
1065,Nichole,Knox,female,16,3,14,84.3,"868 Canal St., Baldwinsville, NY 13027"
873,Marny,Sandoval,female,17,2,8,76.4,"589 Ridge St., Erlanger, KY 41018"
948,Ashton,Ashley,male,15,1,8,75.8,"150 Bank Lane, Herndon, VA 20170"
1170,Eliana,Todd,female,14,5,5,74.8,"8781 Campfire Ave., Southampton, PA 18966"
474,Dana,Vang,female,17,4,14,88.7,"80 Wild Horse Ave., Baltimore, MD 21206"
713,Gay,Pope,female,18,3,11,88.9,"54 State St., Abingdon, MD 21009"
1426,Shaine,Mcleod,female,16,2,18,100.0,"8400 Brickell Drive, Clayton, NC 27520"
611,Dante,Odom,male,18,3,10,79.9,"448 Court Street, Maineville, OH 45039"
...,...,...,...,...,...,...,...,...
1873,James,Morrison,male,18,3,13,82.7,"9257 Stillwater Road, Clementon, NJ 08021"
211,Channing,Stark,male,16,3,7,65.3,"70 Indian Spring St., Bergenfield, NJ 07621"
1761,Uta,Cohen,female,16,5,7,83.9,"7268 South Sherwood Drive, Merrillville, IN 46410"
1390,Rafael,Randall,male,16,2,11,71.2,"142A Brickyard Drive, Chicago, IL 60621"
1887,Cairo,French,male,14,5,9,87.2,"7565 South Oakland Lane, Coram, NY 11727"
1010,Thaddeus,Kirby,male,14,1,15,98.9,"833 Taylor Dr., Newington, CT 06111"
1434,Blossom,Henry,female,18,3,5,72.7,"796 Shadow Brook St., Fresno, CA 93706"
389,Caldwell,Dorsey,male,17,5,9,79.1,"74 E. Shore Avenue, Soddy Daisy, TN 37379"
1399,Ingrid,Kennedy,female,19,5,7,72.1,"302 Shady St., The Villages, FL 32162"
880,Audrey,Pruitt,female,17,4,8,69.3,"851 Madison St., Salt Lake City, UT 84119"
1846,Roary,Howe,female,16,1,18,85.4,"469 West Oakland St., Baldwin, NY 11510"
1602,Petra,Bryan,female,15,4,12,92.5,"762 Wayne Street, Southington, CT 06489"
533,Kamal,Wheeler,male,17,5,15,86.3,"4 Deerfield Lane, Chelmsford, MA 01824"
1681,Gabriel,Goff,male,19,5,13,94.4,"52 Cedar St., South Richmond Hill, NY 11419"
780,Octavius,Riley,male,15,3,16,84.4,"7456 Airport St., Apopka, FL 32703"
1833,Dahlia,Bowman,female,18,3,8,82.3,"471 North Orchard Ave., North Haven, CT 06473"
343,Athena,Collins,female,17,1,4,71.3,"933 Alton St., Lynnwood, WA 98037"
381,Norman,Kinney,male,15,3,14,88.0,"707 Riverside St., Garfield, NJ 07026"
455,Isaac,Gray,male,16,5,12,81.0,"84 Third Street, Virginia Beach, VA 23451"
36,Ivor,Arnold,male,19,4,20,100.0,"7027 Magnolia Dr., Catonsville, MD 21228"
1145,Alexander,Riley,male,15,3,10,82.8,"113 Cherry Street, Fishers, IN 46037"
1348,Autumn,Macdonald,female,15,4,10,78.1,"15 Durham Street, Sandusky, OH 44870"
1034,Libby,Pickett,female,17,2,13,84.1,"7329 Garden Dr., Crown Point, IN 46307"
1125,Linda,Conner,female,16,3,12,86.3,"91 Addison Ave., Vicksburg, MS 39180"
693,Hamish,Haley,male,18,1,9,71.1,"8541 E. Highland Court, Winter Haven, FL 33880"
568,Latifah,Williamson,female,17,3,6,66.7,"50 N. Peachtree St., Woonsocket, RI 02895"
1325,Chase,Blackwell,male,17,3,17,95.0,"8327 Manchester Lane, Huntersville, NC 28078"
1006,William,Hatfield,male,16,5,13,89.2,"576 E. Shirley Rd., Paramus, NJ 07652"
1795,Martin,Weber,male,14,1,14,77.0,"375 Brickell St., Elmhurst, NY 11373"
1453,Scott,Atkinson,male,15,4,10,89.2,"6 Campfire Ave., Winter Haven, FL 33880"